* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #f1e3f084;
}

/* Header */

.left-items1 {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}
.right-items1 .right-items {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  float: right;
  padding: 50px 0;
}
nav {
  background-color: #a295c8;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px; /*create space between text*/
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #393b65;
}
nav a:hover {
  background-color: #f1e3f0;
}

.fa-cart-shopping {
  position: relative;
}

.fa-cart-shopping span {
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #393b65;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  font-size: small;
  top: -15px;
  right: -50px;
}

.logo {
  align-items: center;
  width: 180px;
}

i {
  padding-right: 8px;
}

/* Menu Bar*/

.sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh; /*mean full height of the screen*/
  width: 250px;
  z-index: 999;
  background-color: #f1e3f027;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}

/* Making Header Responsiv*/

@media (max-width: 850px) {
  .left-items1 {
    display: none;
  }
  .right-items1 {
    display: none;
  }
  .right-items {
    padding-left: 80px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}

/* Main Section */

.rectangle,
.rectangle2 {
  display: flex;
  align-items: center;
  width: 420px;
  margin-left: 20px;
  margin-top: 50px;
  margin-bottom: 35px;
  background-color: #a295c8;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  border: 2px solid #a295c8;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.circle,
.circle2 {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-color: #393b65;
  border-radius: 50%;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.contact-details p {
  color: #393b65;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 55px;
  font-size: 19px;
}

.row .inputBox {
  margin: 20px;
}

.row .inputBox span {
  margin-bottom: 10px;
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #393b65;
  font-size: 15px;
  font-weight: 400;
}
.row .inputBox .span1 span {
  margin-left: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: block;
  font-family: "Open Sans", sans-serif;
  color: #393b65;
  font-size: 10px;
  font-weight: 400;
}

input[type="email"],
input[type="phone-number"],
input[type="name"],
input[type="lastname"],
input[type="country"],
input[type="address-or-postcode"] {
  background-color: #f1e3f0;
  border: 1px solid #f1e3f0;
  border-radius: 3px;
  padding: 10px 10px;
  width: 400px;
  font-size: 13px;
}

input[type="email"]::placeholder,
input[type="phone-number"]::placeholder,
input[type="name"]::placeholder,
input[type="lastname"]::placeholder,
input[type="country"]::placeholder,
input[type="address-or-postcode"]::placeholder {
  color: #393b65;
  font-style: italic;
  font-size: 13px;
}

.deliveryadd {
  color: #393b65;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-left: 20px;
  font-size: 19px;
}

.delivery-option {
  color: #393b65;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin-left: 20px;
  font-size: 19px;
}

.proceed-payment-btn {
  color: #fff;
  background-color: #393b65;
  width: 420px;
  height: 40px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  margin-bottom: 50px;
  margin-top: 50px;
  cursor: pointer;
}

.proceed-payment-btn a {
  color: inherit;
  text-decoration: none;
}

.proceed-payment-btn:hover {
  color: #393b65;
  background-color: #f1e3f0;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

label {
  margin-top: 20px;
  margin-left: 20px;
  width: 390px;
  background-color: #f1e3f0;
  color: #393b65;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  display: flex;
  gap: 5px;
  border: 3px solid #f1e3f0;
  padding: 16px 12.5px;
  border-radius: 3px;
}

label > div {
  display: flex;
  flex-direction: column;
}

.title1,
.title2,
.title3,
.title4,
.title5 {
  display: block;
  margin-bottom: 10px;
  font-size: larger;
}

.undertext1,
.undertext2,
.undertext3,
.undertext4,
.undertext5,
.undertext6 {
  display: block;
  margin-bottom: 2px;
  font-size: 15px;
}

.price,
.price2 {
  display: block;
  font-size: small;
}

/* Right Side */

.info-card {
  background-color: #f1e3f0;
  border-radius: 3px;
  padding: 10px 10px;
  width: 400px;
  font-size: 13px;
  margin-left: 20px;
}

input[type="card-name"],
input[type="card-number"] {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px 10px;
  width: 250px;
  font-size: 13px;
}

input[type="billing-address"] {
  background-color: #f1e3f0;
  border: 1px solid #f1e3f0;
  border-radius: 3px;
  padding: 10px 10px;
  width: 400px;
  font-size: 13px;
  margin-left: 20px;
}

.row-right span {
  margin-left: 20px;
}

input[type="billing-address"]::placeholder {
  color: #393b65;
  font-style: italic;
  font-size: 13px;
}

input[type="card-name"]::placeholder,
input[type="card-number"]::placeholder,
input[type="exp-date"]::placeholder,
input[type="CVC"]::placeholder {
  color: #393b65;
  font-style: italic;
  font-size: 13px;
}

input[type="exp-date"],
input[type="CVC"] {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px 10px;
  width: 50px;
  font-size: 13px;
}

.inputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: #393b65;
}
.inputBox span {
  margin-bottom: 10px;
}

.info-card .InputBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: start;
  gap: 20px;
}

.info-card .InputBox input {
  width: 250px;
}

.InputBox img {
  margin-left: 20px;
  width: 50px;
  height: auto;
}

.info-card .InputBox span {
  color: #393b65;
  margin-bottom: 10px;
}

.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 30px;
}
.column1 {
  margin-left: 200px;
}

@media only screen and (max-width: 1086px) {
  .column1 {
    margin-left: 70px;
  }
  .proceed-payment-btn {
    margin-left: 35%;
  }
}

@media only screen and (max-width: 1025px) {
  .column1 {
    margin-left: 50px;
  }
  .proceed-payment-btn {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 842px) {
  .column1 {
    margin-left: -20px;
  }
  .proceed-payment-btn {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .row2 {
    grid-template-columns: 1fr; /* single column for smaller screens */
  }

  .container-main {
    flex-direction: column; /* flex direction for smaller screens */
    justify-content: center;
    align-items: center;
  }

  .column1,
  .column2 {
    margin-left: 55px;
    margin-right: auto;
  }

  .proceed-payment-btn {
    margin-left: 75px;
    margin-right: auto;
  }
}

/* Footer */

footer {
  background-color: #a295c8;
  padding: 40px 0;
  color: #393b65;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-text-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #f1e3f0;
}

.footer-column {
  flex: 1;
  margin-left: 40px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-text-container p {
  margin-top: 10px;
  color: #393b65;
}

.footer-social {
  display: flex;
  margin-top: 100px;
  margin-left: -150px;
}

.footer-social a {
  color: #393b65;
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #393b65;
}

.footer-bottom {
  display: flex;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  border-top: 1px solid #f1e3f0;
  font-size: 12px;
}

.additional-text {
  display: flex;
  color: #393b65;
  padding-left: 20px;
  text-align: left;
}

.additional-text p {
  margin-right: 20px;
}

footer {
  background-color: #a295c8;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  color: #fff;
}

.footer-search {
  display: flex;
  align-items: center;
}

input[type="text"]::placeholder {
  color: #393b65;
}

input[type="text"] {
  background-color: #a295c8;
  border: 1px solid;
  border-radius: 3px;
  color: #393b65;
  padding: 5px 10px;
  margin-left: 450px;
  width: 300px;
}

button {
  background-color: #393b65;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
}

button:hover {
  background-color: #393b65; /* used to define the styles for a button when it is being hovered over by the user; that is it changes the background color */
}

/* Responsive Footer */

@media screen and (max-width: 1200px) {
  .footer-search input[type="text"] {
    width: 100%;
    margin-left: 0;
  }

  .footer-search button {
    margin-left: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-top,
  .footer-bottom {
    text-align: center;
  }

  .footer-search {
    margin-top: 20px;
    width: 100%;
  }

  .footer-search input[type="text"] {
    width: 100%;
    margin-left: 0;
  }

  .footer-search button {
    margin-left: 5px;
  }
}
