* {
  margin: 0%;
  padding: 0%;
  font-family: "OpenSans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1e3f0, 20%;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #a295c8;
}

.header-container {
  display: flex;
  justify-content: space-between; /* adds space between the nav items and the logo */
  align-items: center; /* it will vertically align the items within the header-container */
  width: 100%; /* 100% of the header. It ensures that the header-container will take up the entire width of header */
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin: 2rem;
}

/* Nav items: These classes are used to style the nav items.*/

.left-items,
.right-items {
  display: flex; /* flexbox for nav items */
  align-items: center; /* vertically align items in the center */
}

.logo {
  width: 150px;
  margin: 0 20px;
}

a {
  color: #393b65;
  text-decoration: none;
}
