* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #f1e3f084;
}

/* Header */

.left-items1 {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}
.right-items1 .right-items {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  float: right;
  padding: 50px 0;
}
nav {
  background-color: #a295c8;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px; /*create space between text*/
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #393b65;
}
nav a:hover {
  background-color: #f1e3f0;
}

.fa-cart-shopping {
  position: relative;
}

.fa-cart-shopping span {
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  background-color: #393b65;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  font-size: small;
  top: -15px;
  right: -50px;
}

.logo {
  align-items: center;
  width: 180px;
}

i {
  padding-right: 8px;
}

/* Menu Bar*/

.sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh; /*mean full height of the screen*/
  width: 250px;
  z-index: 999;
  background-color: #f1e3f027;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}

/* Making Header Responsiv*/

@media (max-width: 800px) {
  .left-items1 {
    display: none;
  }
  .right-items1 {
    display: none;
  }
  .right-items {
    padding-left: 80px;
  }
}

@media (max-width: 400px) {
  .left-items1 {
    display: none;
  }
  .right-items1 {
    display: none;
  }
  .right-items {
    padding-left: 0;
  }
  li a {
    padding-left: 15px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}

/* Main Content */

/* Main Slider */

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-slider {
  width: 100%;
  overflow: hidden;
}

.main-slider .slide {
  display: none;
  height: 900px;
  min-height: 500px;
  box-sizing: border-box;
  animation: fadein 1.5s;
}

.main-slider .slide img {
  width: 100%;
  height: 900px;
  object-fit: cover;
}

.main-slider .slide:first-child {
  display: block;
}

.info-detail {
  position: absolute;
  top: 30%;
  padding: 15px 100px;
}

.info-detail h2 {
  color: #393b65;
  font-family: "Goudy Old Style", Source Sans Pro;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 2px;
}

.info-detail p {
  color: #393b65;
  font-family: "Goudy Old Style", Source Sans Pro;
  font-size: 20px;
  width: 25%;
  padding: 10px;
  background: #f1e3f0a6;
  border-radius: 4px;
}

/* Buttons */

.buynow,
.details {
  background-color: #393b65;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  padding: 10px 20px;
  margin-left: 5px;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .info-detail h2 {
    font-size: 35px;
  }

  .info-detail p {
    font-size: 15px;
  }

  .buynow,
  .details {
    padding: 8px 18px;
    font-size: 0.7rem;
  }
}

@media (max-width: 850px) {
  .info-detail h2 {
    font-size: 30px;
  }

  .info-detail p {
    font-size: 15px;
  }
  .buynow,
  .details {
    padding: 5px 15px;
    font-size: 0.7rem;
  }
}

@media (max-width: 600px) {
  .info-detail {
    top: 30%;
    padding: 20px 20px;
  }
  .info-detail h2 {
    font-size: 25px;
  }

  .info-detail p {
    font-size: 12px;
  }
  .buynow,
  .details {
    padding: 4px 12px;
    font-size: 0.55rem;
  }
}
@media (max-width: 400px) {
  .info-detail {
    top: 7%;
    padding: 100px 10px;
  }
  .info-detail h2 {
    font-size: 25px;
  }

  .info-detail p {
    font-size: 12px;
  }
  .buynow,
  .details {
    padding: 4px 12px;
    font-size: 0.55rem;
  }
  .main-slider .slide img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}

/* Title and Subhead */

.velvetskin-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #393b65;
  font-family: "Goudy Old Style", Source Sans Pro;
  margin-top: 50px;
  font-size: 20px;
}

.undertext p {
  padding-left: 100px;
  padding-right: 100px;
  color: #393b65;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 400px) {
  .velvetskin-title {
    font-size: 17px;
    margin-top: -350px;
  }

  .undertext p {
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
  }
  .bestsellers-group a {
    font-size: 12px;
  }
}

/* Best Sellers, New Arrivals, Sale */

.trio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.trio-group {
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 0.8px solid #393b65;
}

.bestsellers-group p {
  display: inline;
  margin: 10px;
  cursor: pointer;
}

.bestsellers-group a {
  text-decoration: none;
  color: #393b65;
}

.bestsellers-group p a:hover {
  color: #a295c8;
}

.minislide-container {
  width: 100%;
  overflow-x: auto; /* will enable horizontal scrolling */
  white-space: nowrap; /* to prevent line breaks; it ensures that all content stays on a single line within container; ensuring that they are displayed horizontally side by side without wrapping to the next line */
  scroll-behavior: smooth;
}
/* (overflow-x and white-space are a combination that ensures the boxes are displayed in a row, and users can scroll horizontally to see more boxes if needed */

.minislide-container::-webkit-scrollbar {
  display: none;
}

.minislidecontainer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

#backBtn,
#nextBtn {
  width: 50px;
  cursor: pointer;
  margin: 40px;
}

.box {
  width: 300px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top; /* ensure boxes align at the top */
  transition: transform 0.3 ease;
}

.slide-image {
  height: 320px;
  position: relative;
}

.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}

.type {
  display: flex;
  flex-direction: column;
}

.type a {
  color: #393b65;
  margin: 5px 0px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-right: 8px;
  text-decoration: none;
}

.type span {
  color: #393b65;
  font-size: small;
  font-family: "Open Sans", sans-serif;
}

.price {
  color: #393b65;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: #f1e3f0a1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1e3f0;
  color: #393b65;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 30px #00000033;
  text-decoration: none;
}

.buy-btn:hover {
  color: #f1e3f0;
  background-color: #393b65;
  transition: all ease 0.3s;
}

.overlay {
  visibility: hidden;
}

.slide-image:hover .overlay {
  visibility: visible;
  animation: fadein 0.5s;
}

/* Responsive mini slider */

@media only screen and (max-width: 1200px) {
  .box {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (max-width: 800px) {
  .box {
    margin-left: 13px;
    margin-right: 13px;
  }
  #backBtn,
  #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .box {
    margin-left: 1px;
    margin-right: 1px;
  }
  #backBtn,
  #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 48px;
  }
}
@media only screen and (max-width: 400px) {
  .box {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
  #backBtn,
  #nextBtn {
    width: 40px;
    cursor: pointer;
    margin: 4px;
  }
}

/* Footer */

footer {
  background-color: #a295c8;
  padding: 40px 0;
  color: #393b65;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-text-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #f1e3f0;
}

.footer-column {
  flex: 1;
  margin-left: 40px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-text-container p {
  margin-top: 10px;
  color: #393b65;
}

.footer-social {
  display: flex;
  margin-top: 100px;
  margin-left: -150px;
}

.footer-social a {
  color: #393b65;
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #393b65;
}

.footer-bottom {
  display: flex;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  border-top: 1px solid #f1e3f0;
  font-size: 12px;
}

.additional-text {
  display: flex;
  color: #393b65;
  padding-left: 20px;
  text-align: left;
}

.additional-text p {
  margin-right: 20px;
}

footer {
  background-color: #a295c8;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  display: flex;
  color: #fff;
}

.footer-search {
  display: flex;
  align-items: center;
}

input[type="text"]::placeholder {
  color: #393b65;
}

input[type="text"] {
  background-color: #a295c8;
  border: 1px solid;
  border-radius: 3px;
  color: #393b65;
  padding: 5px 10px;
  margin-left: 450px;
  width: 300px;
}

button {
  background-color: #393b65;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
}

button:hover {
  background-color: #393b65; /* used to define the styles for a button when it is being hovered over by the user; that is it changes the background color */
}

/* Responsive Footer */

@media screen and (max-width: 1200px) {
  .footer-search input[type="text"] {
    width: 100%;
    margin-left: 0;
  }

  .footer-search button {
    margin-left: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-top,
  .footer-bottom {
    text-align: center;
  }

  .footer-search {
    margin-top: 20px;
    width: 100%;
  }

  .footer-search input[type="text"] {
    width: 100%;
    margin-left: 0;
  }

  .footer-search button {
    margin-left: 5px;
  }
}
