* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #f1e3f084;
}

/*Header*/

.left-items1 {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}
.right-items1 .right-items {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  float: right;
  padding: 50px 0;
}
nav {
  background-color: #a295c8;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px; /*create space between text*/
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #393b65;
}
nav a:hover {
  background-color: #f1e3f0;
}

.logo {
  align-items: center;
  width: 180px;
}
i {
  padding-right: 8px;
}

.sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh; /*mean full height of the screen*/
  width: 250px;
  z-index: 999;
  background-color: #f1e3f048;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}

@media (max-width: 900px) {
  .left-items1 {
    display: none;
  }
  .right-items1 {
    display: none;
  }
  .right-items {
    padding-left: 80px;
  }
}
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}

/* Footer*/
footer {
  background-color: #a295c8;
  padding: 40px 0;
  color: #393b65;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  width: 200px;
  height: auto;
}

.footer-text-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #f1e3f0;
}

.footer-column {
  flex: 1;
  margin-left: 40px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-text-container p {
  margin-top: 10px;
  color: #393b65;
}

.footer-social {
  display: flex;
  margin-top: 100px;
  margin-left: -150px;
}

.footer-social a {
  color: #393b65;
  margin-right: 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.footer-social a:hover {
  color: #393b65;
}

.footer-bottom {
  display: flex;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  border-top: 1px solid #f1e3f0;
  font-size: 12px;
}

.additional-text {
  display: flex;
  color: #393b65;
  padding-left: 20px;
  text-align: left;
}

.additional-text p {
  margin-right: 20px;
}

footer {
  background-color: #a295c8;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-info {
  color: #fff;
}

.footer-search {
  display: flex;
  align-items: center;
}

input[type="text"]::placeholder {
  color: #393b65;
}

input[type="text"] {
  background-color: #a295c8;
  border: 1px solid;
  border-radius: 3px;
  color: #393b65;
  padding: 5px 10px;
  margin-left: 450px;
  width: 300px;
}

button {
  background-color: #393b65;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px;
}

button:hover {
  background-color: #393b65; /* used to define the styles for a button when it is being hovered over by the user; that is it changes the background color */
}

/* Responsive Footer */

@media screen and (max-width: 1200px) {
  .footer-search input[type="text"] {
    width: 100%;
    margin-left: 0;
  }

  .footer-search button {
    margin-left: 5px;
  }
}

@media screen and (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-top,
  .footer-bottom {
    text-align: center;
  }

  .footer-search {
    margin-top: 20px;
    width: 100%;
  }

  .footer-search input[type="text"] {
    width: 100%;
    margin-left: 0;
  }

  .footer-search button {
    margin-left: 5px;
  }
}

/*Main products*/

h2 {
  color: #393b65;
  text-align: center;
  padding-bottom: 15px;
  padding-right: 0;
  font-size: 45px;
}
.delivery {
  align-items: baseline;
  text-align: end;
  margin-top: 10px;
  margin-bottom: 40px;
  background-color: #f1e3f0;
  background-image: url(products/delivery.jpg);
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #393b65;
  display: flex;
  flex-shrink: 0;
  font-size: 30px;
  line-height: 120px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .delivery {
    font-size: 20px;
  }
}

/*Filters*/

.row {
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;
  margin-left: 50px;
}

.filters {
  justify-content: left;
  width: 15rem;
  font-size: 20px;
  color: #393b65;
  cursor: pointer; /*appearance of the hand when hovering on the element(to show that the element is active)*/
  margin-right: 120px;
}

.filters .contentBox {
  position: relative;
  margin-top: 10px;
  padding-right: 20px;
}

.filters .contentBox .label {
  position: relative;
  padding: 8px;
  background-color: #a295c8;
}

.filters .contentBox .label::before {
  content: "+";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(
    -50%
  ); /*This moves the image up by 50% of it’s height so that the center of the image aligns with the vertically centered position.*/
  font-size: 1.5rem; /* rem * 16 = px */
}
.filters .contentBox .content {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.filters .contentBox.active .content {
  height: 50px;
  padding-top: 8px;
}

.filters .contentBox.active .label::before {
  content: "-";
}
@media screen and (max-width: 1340px) {
  .filters {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .filters {
    font-size: 15px;
    max-width: 200px;
  }
  h2 {
    font-size: 30px;
  }
}
/*Sort by*/

select {
  width: 15rem;
  padding: 10px;
  border: 1px solid #ccc;
  appearance: none;
  outline: none;
  border-radius: 4px;
  font-size: 20px;
  color: #393b65;
  background-color: #a295c8;
}
form {
  position: absolute;
  right: 0;
  z-index: 1;
  color: #393b65;
}
form span {
  color: #393b65;
  font-size: 20px;
}

/*Products*/
.card {
  width: 230px;
  min-height: 350px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  flex-direction: column; /* elements in column */
  border-radius: 4px;
  transition: 0.2s;
  position: relative;
  background-color: #fff;
}

/* change the color of the card while hovering */
.card:hover {
  box-shadow: 4px 8px 16px #393b65;
}

.card__top {
  flex: 0 0 220px; /* height - 220px, restriction of exansion and reduction in height */
  position: relative;
  overflow: hidden; /* hide things which couldn't fit */
}

/* container for the image*/
.card__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* put the image in the card__image container*/
  transition: 0.2s;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* image scale while hovering */
.card__image:hover > img {
  transform: scale(1.1);
}

.card__bottom {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; /* take the remaining height of the card */
  padding: 10px;
}

.card__prices {
  display: flex;
  margin-bottom: 10px;
}

.card__price {
  font-size: 19px;
  color: #393b65;
  text-align: center;
}

.card__title {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 20px;
  color: #393b65;
}

.card__title:hover {
  color: #a295c8;
}

.card__add {
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  color: #393b65;
  padding: 5px;
  text-align: center;
  border: 1px solid #393b65;
  background-color: #e8e8e8;
  border-radius: 4px;
  cursor: pointer; /* palm */
  transition: 0.2s;
  margin-top: auto;
} /* the button is attached to the bottom */

.card__add:hover {
  border: 1px solid #393b65;
  background-color: #393b65;
  color: #fff;
}

h1 {
  font-size: 22px;
  color: #393b65;
  padding: 10px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* auto-fill for grid-container */
  width: 50%;
  max-width: 1000px; /* container's size */
  justify-content: center;
  justify-items: right; /* card's position */
  column-gap: 30px;
  row-gap: 50px;
  padding-top: 50px;
}
.show {
  position: relative;
  text-align: center;
  padding-bottom: 50px;
  justify-content: right;
}
.showmore {
  position: relative;
  align-items: stretch;
  width: 22rem;
  font-size: 25px;
  border-radius: 4px;
}
@media screen and (max-width: 1340px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
    column-gap: 50px;
  }
  .showmore {
    width: 18rem;
    font-size: 18px;
    padding: 5px 8px;
    align-items: center;
  }
  .filters {
    font-size: 15px;
  }
  select {
    width: 12rem;
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }
  select {
    width: 10rem;
  }
}
@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
