* {
  margin: 0%;
  padding: 0%;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

/* HEADER*/

header {
  position: absolute;
  background-color: #a294c7;
  width: 100%;
}
/*.container{
    padding: 10px 10%;
  }*/

nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.logo {
  width: 180px;
  align-items: center;
  cursor: pointer;
}
nav ul {
  list-style: none;
  width: 100%;
}
nav ul li {
  display: inline-block;
  float: left;
  margin-left: 50px;
  margin-bottom: 20px;
}
nav ul li a {
  color: #393b65;
  text-decoration: none;
  padding: 12px;
}
.SAC {
  display: inline-block;
  padding-left: 80px;
  margin-bottom: 20px;
}
i {
  color: #393b65;
} /*to add icons from the internet without downloading/making them manually, need to put a link to html*/

.fa-solid fa-bars {
  font-size: 28px;
}
