* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: #f1e3f0, 20%;
}

.left-items {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}
.right-items {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  float: right;
}
nav {
  background-color: #a295c8;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px; /*create space between text*/
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #393b65;
}
nav a:hover {
  background-color: #f1e3f0;
}

.logo {
  align-items: center;
  width: 180px;
  padding: 0 60px;
}
i {
  padding-right: 8px;
}

.sidebar {
  position: fixed;
  top: 0%;
  left: 0;
  height: 100vh; /*mean full height of the screen*/
  width: 250px;
  z-index: 999;
  background-color: #f1e3f048;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
